<div class="mat-app-background">
    <div class="bar">
        <div class="bar-title">
            Upcoming Movies
        </div>
    </div>
    <div class="search-bar-container">
        <div class=search-bar>
            <mat-icon class="search-icon">search</mat-icon>
            <input type="text" class="search-input-text" placeholder="Search from upcoming movies"/>
        </div>
    </div>
    <router-outlet>
        
    </router-outlet>
    <div class="footer">
        
    </div>
</div>

