<div class="search-bar-container">
    <div class="search-bar">
        <mat-icon class="search-icon">search</mat-icon>
        <input type="text" class="search-input-text" placeholder="Search from upcoming movies"/>
    </div>
    <div *ngIf="upcomingMovies !== undefined" class="page-navigation-buttons" class="navigation-buttons-container">
        <div *ngFor="let pageButton of getNavigationButtonsArray()">
            <button (click)="navigateTo(pageButton)" class="navigation-button">
                {{pageButton}}
            </button>   
        </div>
    </div>
</div>
<section class="upcoming-movies-section">
    <div *ngIf="upcomingMovies != null" class="upcoming-movies-container">
        <div *ngFor="let result of upcomingMovies.results" class="card-container">
            <mat-card class="upcoming-movie-card">
                <mat-card-header>
                    <mat-card-title>{{result.title}}</mat-card-title>
                    <mat-card-subtitle>Release date: {{result.releaseDate}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{baseUrlToImages}}{{result.posterPath}}" alt="Photo of a Shiba Inu">
                <mat-card-content class="genres-container">
                    Genres: {{joinGenres(result.genres)}}
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="goToDetails(result)" class="more-info">More Info</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</section>
