.upcoming-movies-section {
    margin: 2rem auto;
    max-width: 1150px;
}

.upcoming-movies-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.upcoming-movie-card {
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card-container {
    width:21%;
    padding:1%;
    position:relative;
}

mat-card-title {
    font-weight: bold;
}
mat-card-subtitle {
    color: grey;
}

@media (max-width:650px){
    .card-container{
        width:48%;
    }
    .card-container:hover{
        transform:scale(1.02);
    }
}
  
@media (max-width:400px) {
    .card-container{
        width:100%;
    }
    .card-container:hover{
        transform:scale(1.02);
    }
}